{% extends 'base.html.twig' %}

{# {% block title %}Hello RecipeController!
{% endblock %} #}
{% block body %}


	<div
		id="titreRecette">

		{# {% trans %}Welcome{% endtrans %} #}
		{{'Welcome'|trans}}
	</div>

<p id = "intro">La cuisine de Jé est là pour vous régaler. 
N'hésitez pas à vous créer un compte afin de nous faire partager vos recettes et ainsi en faire profiter un maximum de monde.</p>	

{# <div id="titreRecette">
	<a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}">
		<img src="{{ asset('images/drapeau-anglais-recette.png') }}" alt="English" width="100" height="100">
	</a>
	<a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}">
		<img src="{{ asset('images/drapeau-français-recette.png') }}" alt="Français" width="100" height="100">
	</a>
</div> #}

	<section id="allRecette">
		{% for recette in recettes %}
			<article>
				<h3>{{recette.name}}</h3>
				<p>Categorie :
					{{recette.categorie}}
				</p>
				<a href="{{path('app_recette', {id: recette.id})}}">Voir détails</a>
			</article>
		{% endfor %}
	</section>

	<a href="{{path('app_recette_create')}}" class="nav-btn logout-btn">Ajouter une recette</a>

{% endblock %}
