{% extends 'base.html.twig' %}

{# {% block title %}Hello RecipeController!
{% endblock %} #}
{% block body %}


<div id="titreRecette">

{# {% trans %}Welcome{% endtrans %} #}
{{'Welcome'|trans}}
</div>


<div id="titreRecette">

	<a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}">
		<img src="/images/flags/en.png" alt="English" width="30" height="20">
	</a>
	<a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}">
		<img src="/images/flags/fr.png" alt="Français" width="30" height="20">
	</a>

</div>






	<section id="allRecette">
		{% for recette in recettes %}
			<article>
				<h3>{{recette.name}}</h3>
				<p>Categorie :
					{{recette.categorie}}
				</p>
				<a href="{{path('app_recette', {id: recette.id})}}">Voir détails</a>
			</article>
		{% endfor %}
	</section>

	<a href="{{path('app_recette_create')}}" class="nav-btn logout-btn">Ajouter une recette</a>

{% endblock %}