{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">Recette</h1>

        <div class="table-container">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ recette.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ recette.name }}</td>
                    </tr>
                    <tr>
                        <th>Créé le</th>
                        <td>{{ recette.createdAt ? recette.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ recette.descrition }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ recette.slug }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="{{ path('app_recette_index') }}" class="btn btn-back">Retour à la liste</a>
        <a href="{{ path('app_recette_edit', {'id': recette.id}) }}" class="btn btn-edit">Modifier</a>

        {{ include('recette/_delete_form.html.twig') }}
    </div>
{% endblock %}
