{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}




	<p id="titreRecette">Nom de la recette :
		{{recette.name}}</p>
	<p id="descriptionRecette">Description :
		{{recette.description}}</p>
	<p id="categorieRecette">Categorie :
		{{recette.categorie}}</p>
	<img id="imageRecette" src="{{ vich_uploader_asset(recette, 'thumbnailFile') }}" alt="">

	<div id="recetteInfos">
		<a href="{{path('app_recette_delete', {id: recette.id})}}">Supprimer</a>
		<a href="{{path('app_recette_update', {id: recette.id})}}">Modifier</a>
		<a href="{{path('app_recette_all')}}">Retour à l'accueil</a>
	</div>


{% endblock %}

