{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}


	<p id="titreRecette">{{recette.name}}</p>
	<p>Categorie :{{recette.categorie}}</p>

	<div id="recetteInfos">
		<a href="{{path('app_recette_delete', {id: recette.id})}}">Supprimer</a>
		<a href="{{path('app_recette_update', {id: recette.id})}}">Modifier</a>
		<a href="{{path('app_recipe_all')}}">Retour à l'accueil</a>
	</div>


{% endblock %}
