<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="main-header">
            <nav class="nav-container">
                <div class="logo">
                    <a href="{{ path('app_recette_all') }}">La Cuisine de Jé</a>
                </div>
                <div class="nav-right">
                    <ul class="nav-links">
                        {# <li><a href="{{ path('app_recette') }}" class="nav-btn">Recettes</a></li> #}
                        <li><a href="{{ path('app_recette_create') }}" class="nav-btn">Créer une recette</a></li>
                    </ul>
                    <div class="user-actions">
                        {% if app.user %}
                            <div class="user-info">
                                <span>Hi {{app.user.pseudo}}</span>
                                <a href="{{ path('app_logout') }}" class="nav-btn logout-btn">Déconnexion</a>
                            </div>
                        {% else %}
                            <div class="auth-btns">
                                <a href="{{ path('app_login') }}" class="nav-btn login-btn">Connexion</a>
                                <a href="{{ path('app_register') }}" class="nav-btn register-btn">Inscription</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        <main>
            {% block body %}
            
            
          
            {# <h1>Recettes</h1> #}
            
            
            
            
            
            
            
            {% endblock %}
        </main>
    </body>
</html>